@font-face {
  font-family: Nunito;
  src: url(./font/Nunito-Regular.ttf);
  src: url(./font/Nunito-Regular.ttf) format('ttf'), url(./font/Nunito-Regular.ttf) format('truetype')
}

html {
  position: relative;
  min-height: 100%;
  font-family: Nunito
}

body {
  height: 100%
  background-color: #7c042b
  
}

a:focus {
  outline: 0
}

/* wrapper fafdfb*/
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

#wrapper #content-wrapper {
  background-color: #fff;
  width: 100%;
  overflow-x: hidden
}

#wrapper #content-wrapper #content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

/* container, container fluid */
.container,
.container-fluid,
.container-login {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}



}

.animated--grow-in,
.sidebar .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
  animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

/* custom background color */
.bg-gray-100 {
  background-color: #f8f9fc !important
}

.bg-gray-200 {
  background-color: #eaecf4 !important
}

.bg-gray-300 {
  background-color: #dddfeb !important
}

.bg-gray-400 {
  background-color: #d1d3e2 !important
}

.bg-gray-500 {
  background-color: #b7b9cc !important
}

.bg-gray-600 {
  background-color: #858796 !important
}

.bg-gray-700 {
  background-color: #6e707e !important
}

.bg-gray-800 {
  background-color: #5a5c69 !important
}

.bg-gray-900 {
  background-color: #3a3b45 !important
}

.o-hidden {
  overflow: hidden !important
}

/*  custom text color */
.text-xs {
  font-size: .7rem
}

.text-lg {
  font-size: 1.2rem
}

.text-gray-100 {
  color: #f8f9fc !important
}

.text-gray-200 {
  color: #eaecf4 !important
}

.text-gray-300 {
  color: #dddfeb !important
}

.text-gray-400 {
  color: #d1d3e2 !important
}

.text-gray-500 {
  color: #b7b9cc !important
}

.text-gray-600 {
  color: #858796 !important
}

.text-gray-700 {
  color: #6e707e !important
}

.text-gray-800 {
  color: #5a5c69 !important
}

.text-gray-900 {
  color: #3a3b45 !important
}

/* icon circle style for sidebar toggle*/
.icon-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

/* border style */
.border-left-primary {
  border-left: .25rem solid #3f51b5 !important
}

.border-bottom-primary {
  border-bottom: .25rem solid #3f51b5 !important
}

.border-left-secondary {
  border-left: .25rem solid #757575 !important
}

.border-bottom-secondary {
  border-bottom: .25rem solid #757575 !important
}

.border-left-success {
  border-left: .25rem solid #66bb6a !important
}

.border-bottom-success {
  border-bottom: .25rem solid #66bb6a !important
}

.border-left-info {
  border-left: .25rem solid #4dd0e1 !important
}

.border-bottom-info {
  border-bottom: .25rem solid #4dd0e1 !important
}

.border-left-warning {
  border-left: .25rem solid #ffeb3b !important
}

.border-bottom-warning {
  border-bottom: .25rem solid #ffeb3b !important
}

.border-left-danger {
  border-left: .25rem solid #ef5350 !important
}

.border-bottom-danger {
  border-bottom: .25rem solid #ef5350 !important
}

.border-left-light {
  border-left: .25rem solid #f8f9fc !important
}

.border-bottom-light {
  border-bottom: .25rem solid #f8f9fc !important
}

.border-left-dark {
  border-left: .25rem solid #5a5c69 !important
}

.border-bottom-dark {
  border-bottom: .25rem solid #5a5c69 !important
}

.progress-sm {
  height: .5rem
}

/* dropdown menu style */
.dropdown .dropdown-menu {
  font-size: .85rem;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none
}

/* sidebar, nav, dropdown dropdowntoggle, topbar style */
.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107'
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
  position: relative
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
  border: 1px solid #fafafa;
}

.topbar {
  height: 4.375rem;
  z-index: 2;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30) !important;
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-shadow: 0 0 !important;
  box-shadow: 0 0 !important
}

.topbar #sidebarToggleTop:hover {
  background-color: #412c70;
}

.topbar #sidebarToggleTop:active {
  background-color: #412c70;
}


.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem
}

.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .75rem
}

.topbar .nav-item .nav-link:focus {
  outline: 0
}

.topbar .nav-item:focus {
  outline: 0
}

.topbar .dropdown {
  position: static
}

.topbar .dropdown .dropdown-menu {
  width: calc(100% - 1.5rem);
  right: .75rem;
}

.topbar .dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden
}

.topbar .dropdown-list .dropdown-header {
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
}

.topbar .dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  line-height: 1.3rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image {
  position: relative;
  height: 2.5rem;
  width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
  height: 2.5rem;
  width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
  background-color: #eaecf4;
  height: .75rem;
  width: .75rem;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: .125rem solid #fff
}

.topbar .dropdown-list .dropdown-item .text-truncate {
  max-width: 10rem
}

.topbar .dropdown-list .dropdown-item:active {
  background-color: #eaecf4;
  color: #3a3b45;
}

@media (min-width:576px) {
  .topbar .dropdown {
      position: relative
  }

  .topbar .dropdown .dropdown-menu {
      width: auto;
      right: 0
  }

  .topbar .dropdown-list {
      width: 20rem !important
  }

  .topbar .dropdown-list .dropdown-item .text-truncate {
      max-width: 13.375rem
  }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #ff9e00;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #e0e0e0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #858796;
}

.bg-navbar {
  background-color: #321e53;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30); 
}

.sidebar {
  min-height: 100vh;
  width: 14rem !important;
  background-color: #ae1411 !important;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.20) !important;
  z-index: 0
}

.sidebar .nav-item {
  position: relative;
  margin-bottom: -15px
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem;
  width: 14rem
}

.sidebar .nav-item .nav-link i {
  font-size: .85rem;
  margin-right: .25rem
}

.sidebar .nav-item .nav-link span {
  font-size: .85rem;
  display: inline
}

.sidebar .nav-item.active .nav-link {
  font-weight: 800
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
  content: '\f105'
}

.sidebar .nav-item .collapse {
  position: relative;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-animation: none;
  animation: none
}

.sidebar .nav-item .collapse .collapse-inner {
  border-radius: .35rem;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out
}

.sidebar .nav-item .collapsing {
  display: block;
  -webkit-transition: height .3s ease;
  transition: height .3s ease
}

.sidebar .nav-item .collapse,
.sidebar .nav-item .collapsing {
  margin: 0 1rem
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
  padding: .5rem 0;
  min-width: 10rem;
  font-size: .85rem;
  margin: 0 0 1rem 0
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
  margin: 0;
  white-space: nowrap;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: .5rem 1rem;
  margin: 0 .5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: .35rem;
  white-space: nowrap
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #412c70;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30); 
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: #412c70;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #412c70;
  font-weight: 800;
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  margin-right: .1rem
}

.sidebar #sidebarToggle:hover {
  background-color: #412c70;
  text-decoration: none;
}

.sidebar #sidebarToggle:focus {
  outline: 0
}

.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: .05rem;
  z-index: 1
}

.sidebar .sidebar-brand .sidebar-brand-icon img {
  max-height: 2.3rem;
}

.sidebar hr.sidebar-divider {
  margin: 1rem 0 1rem 0;
}

.sidebar .sidebar-heading {
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  font-size: .65rem;
  letter-spacing: .13rem
}

.sidebar .version {
  text-align: left;
  font-size: .6rem;
  padding: 0 1rem;
  color: #b7b9cc;
  letter-spacing: .030rem
}

.sidebar .sidebar-brand .sidebar-brand-text {
  display: inline;
}

.sidebar.toggled {
  overflow: visible;
  width: 7rem !important;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  z-index: 1;
}

.sidebar.toggled .nav-item {
  margin-bottom: 0;
}

.sidebar.toggled hr.sidebar-divider {
  margin: 0 0 1rem 0;
}

.sidebar.toggled #sidebarToggle::after {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  margin-left: .25rem;
}

/* toggled and collapse */
.sidebar.toggled .nav-item .collapse {
  position: absolute;
  left: calc(7rem + 1.5rem / 2);
  top: 2px;
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
  animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
}

.sidebar.toggled .nav-item .collapse,
.sidebar.toggled .nav-item .collapsing {
  margin: 0
}

.sidebar.toggled .nav-item .collapse .collapse-inner {
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  border-radius: .35rem;
}

.sidebar.toggled .nav-item .collapsing {
  display: none;
  -webkit-transition: none;
  transition: none
}

.sidebar.toggled .nav-item:last-child {
  margin-bottom: 1rem
}

.sidebar.toggled .nav-item .nav-link {
  text-align: center;
  padding: .75rem 1rem;
  width: 7rem;
}

.sidebar.toggled .nav-item .nav-link {
  background-color: #3a3b45 !important
  color:#000000;
}

.sidebar.toggled .sidebar-heading {
  display: none;
}

.sidebar.toggled .nav-item .nav-link span {
  display: none;
}

.sidebar.toggled .nav-item .nav-link i {
  float: left;
  text-align: center;
  font-size: 1rem;
  margin: 0 0 .7rem 1rem;
}

.sidebar.toggled .sidebar-brand .sidebar-brand-text {
  display: none;
}

.sidebar.toggled .nav-item .nav-link[data-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free'
}

.sidebar.toggled .nav-item .nav-link[data-toggle=collapse].collapsed::after {
  content: '\f105'
}

@media (max-width:768px) {
  #container-wrapper {
      min-width: 100vw;
  }

  .sidebar.toggled {
      width: 30vw !important;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out
  }

  .sidebar.toggled .nav-item {
      margin-left: -1rem;
      position: relative;
      margin-bottom: -15px
  }

  .sidebar.toggled .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 14rem;
  }

  .sidebar.toggled .nav-item .nav-link i {
      font-size: .85rem;
      margin-top: .4rem;
      margin-right: .5rem
  }

  .sidebar.toggled .nav-item .nav-link span {
      font-size: .85rem;
      display: inline;
  }

  .sidebar.toggled .nav-item.active .nav-link {
      font-weight: 700;
  }

  .sidebar.toggled .nav-item .nav-link[data-toggle=collapse]::after {
      width: 1rem;
      text-align: center;
      float: right;
      vertical-align: 0;
      border: 0;
      font-weight: 900;
      content: '\f107';
      font-family: 'Font Awesome 5 Free'
  }

  .sidebar.toggled .nav-item .nav-link[data-toggle=collapse].collapsed::after {
      content: '\f105'
  }

  .sidebar.toggled .nav-item .collapse {
      position: relative;
      padding-left: 1rem;
      left: 0;
      z-index: 1;
      top: 0;
      -webkit-transition: height .15s ease;
      transition: height .15s ease
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner {
      border-radius: .35rem;
      -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
      box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  }

  .sidebar.toggled .nav-item .collapse,
  .sidebar.toggled .nav-item .collapsing {
      margin: 0 1rem;
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner,
  .sidebar.toggled .nav-item .collapsing .collapse-inner {
      padding: .5rem 0;
      min-width: 10rem;
      font-size: .85rem;
      margin: 0 0 1rem 0;
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner .collapse-header,
  .sidebar.toggled .nav-item .collapsing .collapse-inner .collapse-header {
      margin: 0;
      white-space: nowrap;
      padding: .5rem 1.5rem;
      text-transform: uppercase;
      font-weight: 800;
      font-size: .65rem;
      color: #b7b9cc;
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner .collapse-item,
  .sidebar.toggled .nav-item .collapsing .collapse-inner .collapse-item {
      padding: .5rem 1rem;
      margin: 0 .5rem;
      display: block;
      color: #3a3b45;
      text-decoration: none;
      border-radius: .35rem;
      white-space: nowrap
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner .collapse-item:hover,
  .sidebar.toggled .nav-item .collapsing .collapse-inner .collapse-item:hover {
      background-color: #412c70;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner .collapse-item:active,
  .sidebar.toggled .nav-item .collapsing .collapse-inner .collapse-item:active {
      background-color: #412c70;
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner .collapse-item.active,
  .sidebar.toggled .nav-item .collapsing .collapse-inner .collapse-item.active {
      color: #3f51b5;
      font-weight: 800;
  }

  .sidebar.toggled .sidebar-brand {
      height: 4.375rem;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 800;
      padding: 1.5rem 1rem;
      text-align: center;
      letter-spacing: .05rem;
      z-index: 1;
  }

/* divider */
  .sidebar.toggled hr.sidebar-divider {
      margin: 1rem 0 1rem 0;
  }

/* sidebar, sidebar toggle, sidebar heading, sidebar brand, sidebar nav, nav link */
  .sidebar.toggled .sidebar-heading {
      display: block;
      text-align: left;
      padding: 0 1rem;
      font-weight: 800;
      font-size: .65rem;
      letter-spacing: .13rem;
  }

  .sidebar.toggled .sidebar-brand .sidebar-brand-text {
      display: inline
  }

  .sidebar {
      width: 0 !important;
      overflow: hidden;
      transition: all .3s ease;
      -webkit-transition: all .3s ease
  }

  .sidebar .sidebar-brand {
      overflow: hidden
  }

  .sidebar .sidebar-brand .sidebar-brand-text {
      overflow: hidden
  }

  .sidebar .nav-item {
      overflow: hidden
  }

  .sidebar .sidebar-brand .sidebar-brand-icon img {
      overflow: hidden
  }

  .sidebar hr.sidebar-divider {
      margin: 1rem 0 1rem 0
  }

  .topbar .navbar-search {
      width: 100%;
  }

}


.sidebar-light .sidebar-brand {
  color: #7e0020;
  background-color: #321d53;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30); 
}

.sidebar-light hr.sidebar-divider {
  border-top: 1px solid #eaecf4;
}

.sidebar-light .sidebar-heading {
  color: #b7b9cc;
}

.sidebar-light .nav-item .nav-link {
  color: #858796;
}

.sidebar-light .nav-item .nav-link i {
  color: #9e9e9e;
}

.sidebar-light .nav-item .nav-link:active,
.sidebar-light .nav-item .nav-link:focus,
.sidebar-light .nav-item .nav-link:hover {
  color: #fff;
  background-color: #412c70;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40); 
}

.sidebar-light .nav-item .nav-link:active i, 
.sidebar-light .nav-item .nav-link:focus i,
.sidebar-light .nav-item .nav-link:hover i {
  color: #f3610a;
}

.sidebar-light .nav-item .nav-link[data-toggle=collapse]::after {
  color: #b7b9cc;
}

.sidebar-light .nav-item.active .nav-link {
  color: #6e707e;
}

.sidebar-light .nav-item.active .nav-link i {
  color: #6e707e;
}

.sidebar-light #sidebarToggle {
  background-color: #412c70;
}

.sidebar-light #sidebarToggle::after {
  color: #b7b9cc;
}

.sidebar-light #sidebarToggle:hover {
  background-color: #412c70;
}

.sidebar-dark .sidebar-brand {
  color: #fff;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, .15)
}

.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, .4)
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(255, 255, 255, .8)
}

.sidebar-dark .nav-item .nav-link i {
  color: #d1d3e2;
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
  color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
  color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
 background-color: #412c70;
}

.sidebar-dark .nav-item.active .nav-link {
  color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
  color: #fff;
}

.sidebar-dark #sidebarToggle {
 background-color: #412c70;
}

.sidebar-dark #sidebarToggle::after {
 background-color: #412c70;
}

.sidebar-dark #sidebarToggle:hover {
  background-color: #412c70;
}

.sidebar-dark.toggled #sidebarToggle::after {
 background-color: #412c70;
}

/* btn style */
.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.btn-icon-split .icon {
  background: rgba(0, 0, 0, .15);
  display: inline-block;
  padding: .375rem .75rem
}

.btn-icon-split .text {
  display: inline-block;
  padding: .375rem .75rem
}

.btn-group-sm>.btn-icon-split.btn .icon,
.btn-icon-split.btn-sm .icon {
  padding: .25rem .5rem
}

.btn-group-sm>.btn-icon-split.btn .text,
.btn-icon-split.btn-sm .text {
  padding: .25rem .5rem
}

.btn-group-lg>.btn-icon-split.btn .icon,
.btn-icon-split.btn-lg .icon {
  padding: .5rem 1rem
}

.btn-group-lg>.btn-icon-split.btn .text,
.btn-icon-split.btn-lg .text {
  padding: .5rem 1rem
}

.btn-outline-light {
  color: #373840;
}

/*card card header, card table flush, chart custom */
.card .card-header .dropdown {
  line-height: 1;

}

.card .card-header .dropdown .dropdown-menu {
  line-height: 1.5;
}

.card .card-header[data-toggle=collapse] {
  text-decoration: none;
  position: relative;
  padding: .75rem 3.25rem .75rem 1.25rem;
  color:#412c70;

}

.card .card-header[data-toggle=collapse]::after {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free'
}

.card .card-header[data-toggle=collapse].collapsed {
  border-radius: .35rem
}

.card .card-header[data-toggle=collapse].collapsed::after {
  content: '\f105'
}

.chart-bar {
  position: relative;
  height: 10rem;
  width: 100%
}

@media (min-width:768px) {
  .chart-bar {
      height: 20rem
  }
}

.chart-pie {
  position: relative;
  height: 15rem;
  width: 100%
}

@media (min-width:768px) {
  .chart-pie {
      height: calc(20rem - 43px) !important
  }
}

.bg-blue {
  background-color: #e8eaf6 !important
}

.table-flush td,
.table-flush th {
  border-right: 0;
  border-left: 0
}

.table-flush tbody tr:first-child td,
.table-flush tbody tr:first-child th {
  border-top: 0
}

.table-flush tbody tr:last-child td,
.table-flush tbody tr:last-child th {
  border-bottom: 0
}

.card .table {
  margin-bottom: 0
}

.card .table td,
.card .table th {
  padding-right: 1.5rem;
  padding-left: 1.5rem
}

.card {
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

/*form control, input group appned style */
.input-group-append .btn {
  -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important
}

.input-group-append .btn:hover {
  -webkit-box-shadow: 0 .125rem .3rem 0 rgba(58, 59, 69, .4) !important;
  box-shadow: 0 .125rem .3rem 0 rgba(58, 59, 69, .4) !important
}

.form-control:focus {
  border: 1px solid #6777ef
}

.input-group-append span {
  -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5
}

.input-group-prepend span {
  -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5
}

/*dot/dotted custom style */
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.dot--semi-dark-red {
    background: #2e59d9;
}

.dot--yellow {
    background: #17a673;
}

.dot--dark-blue {
    background: #2c9faf;
}

.dt--dark-blue .blue:hover{
   background: #122454;
}

/* logo profile */
.profile-sidebar {
  padding: 10px 0;
  border-bottom: 1px solid #e9ecf2; }

.indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  margin-right: 5px; }

.profile-userpic img {
  float: left;
  margin: 10px 0px 0px 0px;
  width: 100px;
  height: 80px;
  border-radius: 0px !important; }

.profile-usertitle {
  float: left;
  text-align: left;
  margin: 10px 0 0 12px; }

.profile-usertitle-name {
  font-size: 15px;
  margin-top: 20px;
   }

.profile-usertitle-status {
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 15px; }
  .label-success {
  background-color: #8ad919; }

